# Plugin Builder 3 / pb_tool style configuration
[plugin]
name: GeolAttitude
plugin_path: GeolAttitude

[files]
python_files: __init__.py geolattitude.py geolattitude_dockwidget.py geolattitude_maptool.py resources.py
main_dialog:
compiled_ui_files:
resource_files: resources.qrc
extras: metadata.txt icon.png README.md LICENSE pylintrc
